

.layout {
    width: 100vw;
    height: 90vh;
  
    display: grid;
    grid:
      "leftSide body rightSide" 80vh
      "footer footer footer" 10vh
      / 10vw 80vw 10vw;
    gap: 0px;
    
  }
  


  .header { grid-area: header; 
    width: 100vw;
    height: 10vh;

    display: grid;
    grid : "logo main mods settings" / 
    10vh 3fr 3fr 3fr;
    background-color: #141414;
  }


  .logo { 
    grid-area: logo;
    width: 10vh;
    height: 10vh;
    border-bottom: #ffffff 1px solid;
  }
  .main { grid-area: main; }
  .mods { grid-area: mods; }
  .settings { grid-area: settings; }
  .leftSide { grid-area: leftSide; }
  .body { grid-area: body; }
  .rightSide { grid-area: rightSide; }
  .footer { grid-area: footer; 
    background-color: #141414;
    border-top: #ffffff 1px solid;
  }
  

  #main {
    display: grid;
  }

  #main .body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/textures/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
  } 

  #main .leftSide {
    background-image: url(../../assets/textures/bg.png);
    background-position: left;
    filter: blur(2px);
    
  }

  #main .rightSide {
    background-image: url(../../assets/textures/bg.png);
    background-position: right;
    filter: blur(2px);
  }

  #main .footer{
    padding-top: 5px;
  }

  #mods {
    display: none;
  }

  #settings {
    display: none;
  }


  .header-content {
    background-color: #242424;
    color: #ffffff;
    text-align: center;
    border: #ffffff 1px solid;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-top: 1.25vh;
    font-size: 6vh;
    border-bottom: none;
    margin-top: 4px;
  }

  .header-content:hover {
    border-bottom: #c0c0c0 1px;
  }

  #main-head {
    border-bottom: none;
  }

  #settings-head {
    border-bottom: #ffffff 1px solid ;
  }

  #mods-head {
    border-bottom: #ffffff 1px solid ;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 1.5em;
    background-color: #242424;
    color-scheme: dark;
  }

  button {
    background-color: #242424;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 15px;
    padding: 5px;
    font-size: 6vh;
    cursor: pointer;
    transition: 0.1s;
    text-align: center;
    margin: auto;
    width: 35vw;
    height: 12vh;
    box-shadow: #ffffff 0px 0px 2px inset;
  }

  button:hover {
    background-color: #ffffff;
    color: #242424;
    box-shadow: #ffffff 0px 0px 5px;
    transition: all 0.25s;
  }
