

.layout {
    width: 100vw;
    height: 90vh;
  
    display: grid;
    grid:
      "leftSide body rightSide" 80vh
      "footer footer footer" 10vh
      / 10vw 80vw 10vw;
    gap: 0px;
    animation: show 0.5s;
  }
  


  .header { grid-area: header; 
    width: 100vw;
    height: 10vh;

    display: grid;
    grid : "logo main mods settings" / 
    10vh 3fr 3fr 3fr;
  }


  .logo { 
    grid-area: logo;
    width: 10vh;
    height: 10vh;
    border-bottom: #ffffff 1px solid;
  }
  .main { grid-area: main; }
  .mods { grid-area: mods; }
  .settings { grid-area: settings; }
  .leftSide { grid-area: leftSide; }
  .body { grid-area: body; }
  .rightSide { grid-area: rightSide; }
  .footer { grid-area: footer; }
  

  #main {
    display: grid;
    animation: show 1s;
  }

  #main .body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #mods {
    display: none;
  }

  #settings {
    display: none;
  }


  .header-content {
    background-color: #242424;
    color: #ffffff;
    text-align: center;
    border: #ffffff 1px solid;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-top: 2vh;
    font-size: 6vh;
  }

  .main {
    border-bottom: none;
  }

  .settings {
    border-bottom: #ffffff 1px solid;
  }

  .mods {
    border-bottom: #ffffff 1px solid;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 1.5em;
    background-color: #242424;
    color-scheme: dark;
  }

  button {
    background-color: #242424;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 15px;
    padding: 5px;
    font-size: 6vh;
    cursor: pointer;
    transition: 0.1s;
    text-align: center;
    margin: auto;
    width: 35vw;
    height: 12vh;
  }

  button:hover {
    background-color: #ffffff;
    color: #242424;
  }

  @keyframes hide {
    0% {right: 0%;}
    100% {right: -100%;}
  }

  @keyframes show {
      0% {right: 200%;}
      100% {right: 0%;}
  }

  .hideable{
    animation: none;
  }